* {
    box-sizing: border-box;
}


body {
    background-color: hsl(36, 100%, 99%);
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.mainBody {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'bigImgDesk bigImgDesk bigImgDesk bigImgDesk new new'
        'BrightFuture BrightFuture smalltext smalltext new new'
        'beige1 beige1 beige2 beige2 beige3 beige3';
    grid-gap: 1.75rem 1.88rem;
    background-color: hsl(36, 100%, 99%);
    padding: 5.6rem 10.31rem 8.06rem 10.31rem;
}

.nav {
    grid-area: nav;
}

.bigImgDesk {
    grid-area: bigImgDesk;
}

.BrightFuture {
    grid-area: BrightFuture;
}

.smalltext {
    grid-area: smalltext;
}

.new {
    grid-area: new;
}

.beige1 {
    grid-area: beige1;
}

.beige2 {
    grid-area: beige2;
}

.beige3 {
    grid-area: beige3;
}


.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.69rem;
}

span {
    padding-left: 2rem;
}



.bigImgDesk {
    width: 100%;
}

.newflex {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    background-color: hsl(240, 100%, 5%);
    padding: 1.4rem 0 1rem 0;
}

.textbigMainBody {
    width: 100%;
}



.littleBody {
    padding-top: 2rem;
}

.beige {
    display: flex;
    margin-top: 2.69rem;
}

.smallImg img {
    width: 6.25rem;
}

button {
    background-color: hsl(5, 85%, 63%);
    color: white;
    border: 0;
    width: 11.56rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: .25rem;
}

.bottomBorder {
    position: relative;
}

.bottomBorder:after {
    content: "";
    display: block;
    margin: 0 auto 0 auto;
    width: calc(100% - 2.6rem);
    padding-top: 20px;
    border-bottom: 1px solid white;
}

button:hover {
    background-color: black;
    cursor: pointer
}

.button {
    padding-right: 0.84rem;
}




.beigeText {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1.5rem;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    opacity: .5;
}

h1,
h2,
h3,
h4,
p,
span {
    font-family: 'Inter', sans-serif;
}

.BrightFuture {
    font-size: 1.75rem;
    line-height: 3.5rem;
    margin-right: 1.4rem;


}

.BrightFuture2 p {
    line-height: 1.64rem;
    font-size: .94rem;
    padding-right: 1.27rem;
}

.smalltextp {
    padding-bottom: 1.82rem;
}

.smalltextp p,
.BrightFuture h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.topnavtext span {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    color: hsl(240, 100%, 5%);
    font-size: 1.125rem;
}

.topnavtext {
    display: flex;
    flex-direction: column;
    padding-top: 3.893rem;
}

.new h2 {
    color: hsl(35, 77%, 62%);
    padding-top: .3rem;
    padding: 0 1.5rem;
    font-size: 2.4em;
    margin: 0;
}

.new h3,
.new p {
    color: white;
    padding: 0 1.5rem;
}

.new h3 {
    font-size: 1.3rem;
}

.new p {
    font-size: .94rem;
    color: hsl(233, 8%, 79%);
}

span {
    font-size: .94rem;
}

span,
.smalltext p,
.beigeText p {
    color: hsl(236, 13%, 42%);
}

.beigeText h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
}

.beigeText p {
    font-size: .942rem;
    line-height: 1.63rem;
}

.beige h4 {
    font-size: 1.13rem;
}

.beige h4,
.beigeText p,
.beigeText h2 {
    margin: 0;
}

span:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer
}

.new h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer
}

.beige h4:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer
}